body {
  background-color: #808080;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}
